body{
    background-color: rgb(160, 70, 70);
    color: white;
    font-family: Arial;
    font-size: 20px;
}

header{
    text-align: center;
}

section{
    background-color: white;
    color: black;
    margin: auto;
    width: 500px;
    border-radius: 20px;
    padding: 10px;
}

footer{
    text-align: center;
    font-style: italic;
}